p {
    font-family: Love Letter;
	font-size:100%;
    color:#d2738a;
}

sa {
	font-family: Love Letter;
    font-size:125%;
    color:#d2738a;
}

saa {
	font-family: Love Letter;
    font-size:75%;
    color:#d2738a;
}

.someone {
	position:fixed;
    bottom:0;
    right:0;
}

html {
	background-color: #000;
	color: #FFF;
	font-family: "Love Letter";
	font-size: 100%;
	background-image: url('/bg205.gif');
	background-repeat: repeat;
}
/*this is a terrible solution for this*/
/*i don't care*/

h1 {
	font-family: Love Letter;
}

@font-face {
  font-family: "Love Letter";
  src: url('./LoveLetter.TTF') format('truetype');
}
