html, body {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    border: groove 5px gray;
    background-color: rgb(240,240,240);
}
html > * {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    z-index: 1;
}

.fullscreen {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.padded-fs {
    padding: 3vh 3vw;
}

.center-contents {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.fill-parent {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.noise {
    opacity: 10%;
    background-blend-mode:difference;
    z-index: 1000 !important;
}

.image-nice {
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.limit-size {
    max-width: 100%;
    max-height: 100%;
}

.no-click {
    pointer-events: none;
}

.pixelated {
    image-rendering: pixelated;
}