html, body {
    margin: 0;
    padding: 0;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    width: 100%;
    height: 100%;
    border: groove 5px gray;
    background-color: rgb(240,240,240);
}
html > * {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

.fullscreen {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.center-contents {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pointer {
    cursor: pointer;
}